@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
	--font-raleway: 'Raleway', sans-serif;
}

body {
	font-family: var(--font-raleway);
	font-optical-sizing: auto;
	font-style: normal;

	background-color: black;
}

@media (hover: hover) and (pointer: fine) {
	.hover\:underline:hover {
		text-decoration-line: underline;
	}
}
